#header{
	background-color: black;
	}
h1{
	text-align: center;
	color: white;
}
#addBtn{
	padding: 7px 15px 7px 15px;
	margin-left: 15%;
	margin-bottom: 10%;

}
.addwindow{
	display: none;
}

.nhead{
	display: inline;
	margin: 0% 20% 0% 15%;
	border: 1px solid black;
}
.phead{
	display: inline;
	margin: 0% 15% 0% 20%;
	border: 1px solid black;
}
.nentry{
	display: inline;
	margin: 0% 20% 0% 15%;
	padding-top: 5%; 
}
.pentry{
	display: inline;
	margin: 0% 15% 0% 20%;
	padding-top: 5%; 

}